alt
  +lipsum(2)
thumbnail
  +imagePath({x:180, y:120})
small
  +imagePath({xmin:300, xmax:400, ymin:300, ymax:400})
medium
  +imagePath({xmin:600, xmax:800, ymin:600, ymax:800})
large
  +imagePath({xmin:1000, xmax:1400, ymin:1000, ymax:1400})
