paragraphs
  include ../views/paragraphs/basic-text
paragraphs
  include ../views/paragraphs/photo-gallery
paragraphs
  include ../views/paragraphs/blockquote--content-width-with-attribution
paragraphs
  include ../views/paragraphs/basic-text
paragraphs
  include ../views/paragraphs/list--course
paragraphs
  include ../views/paragraphs/call-to-action--with-icon
