extends ../templates/_root
append content
  

  lorem
    +lipsum(8, 'words')
  title Lorem ipsum dolor amit
  description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - for (let i = 0; i < 8; i++)
    photos
      image
        large
        +imagePath({x: 500, ymin: 500, ymax: 1000})
      alt Bill Murray
      caption Lorem ipsum dolor amit
