title
  +lipsum(1)
sidebar true
components
  include ../paragraphs/media--large-image-with-caption
components
  include ../paragraphs/basic-text
components
  include ../paragraphs/media--stripe-video-with-caption
components
  include ../paragraphs/blockquote--content-width-without-attribution
components
  include ../paragraphs/media--small-video-with-caption
components
  include ../paragraphs/section-break
components
  include ../paragraphs/list--course
components
  include ../paragraphs/photo-gallery
components
  include ../paragraphs/featured-story--regular
components
  include ../paragraphs/basic-text
components
  include ../paragraphs/triptych-panels--news
components
  include ../paragraphs/triptych-panels--mix
components
  include ../paragraphs/call-to-action--with-icon
