title
  +lipsum(1)
sidebar true
body
  include ../paragraphs/triptych-panels--mix
body
  include ../paragraphs/list--text
body
  include ../paragraphs/call-to-action--without-icon
body
  include ../paragraphs/media--large-video-without-caption
body
  include ../paragraphs/basic-text
body
  include ../paragraphs/media--small-image-without-caption
body
  include ../paragraphs/call-to-action--with-icon
body
  include ../paragraphs/media--small-video-without-caption
body
  include ../paragraphs/section-break
body
  include ../paragraphs/triptych-panels--news
body
  include ../paragraphs/section-break
body
  include ../paragraphs/media--large-video-with-caption
body
  include ../paragraphs/media--small-video-with-caption
body
  include ../paragraphs/media--large-image-with-caption
body
  include ../paragraphs/blockquote--full-width-with-attribution
body
  include ../paragraphs/media--stripe-image-with-caption
body
  include ../paragraphs/featured-story--blue
body
  include ../paragraphs/blockquote--content-width-with-attribution
body
  include ../paragraphs/photo-gallery
body
  include ../paragraphs/list--course
body
  include ../paragraphs/featured-story--regular
body
  include ../paragraphs/basic-text
body
  include ../paragraphs/media--stripe-video-with-caption
body
  include ../paragraphs/media--small-image-with-caption
body
  include ../paragraphs/section-break
body
  include ../paragraphs/media--stripe-image-without-caption
body
  include ../paragraphs/blockquote--full-width-without-attribution
body
  include ../paragraphs/section-break
body
  include ../paragraphs/list--person
body
  include ../paragraphs/media--large-image-without-caption
body
  include ../paragraphs/blockquote--content-width-without-attribution
body
  include ../paragraphs/section-break
body
  include ../paragraphs/media--stripe-video-without-caption
