contentType basic page
title
  +lipsum(1)
sidebar false
body
  include ../paragraphs/media--large-image-with-caption
body
  include ../paragraphs/basic-text
body
  include ../paragraphs/media--stripe-video-with-caption
body
  include ../paragraphs/blockquote--content-width-without-attribution
body
  include ../paragraphs/media--small-video-with-caption
body
  include ../paragraphs/section-break
body
  include ../paragraphs/list--course
body
  include ../paragraphs/photo-gallery
body
  include ../paragraphs/featured-story--regular
body
  include ../paragraphs/basic-text
body
  include ../paragraphs/triptych-panels--news
body
  include ../paragraphs/triptych-panels--mix
body
  include ../paragraphs/call-to-action--with-icon
