contentType basic page
title
  +lipsum(1)
sidebar true
paragraphs
  include ../paragraphs/media--large-image-with-caption
paragraphs
  include ../paragraphs/basic-text
paragraphs
  include ../paragraphs/media--stripe-video-with-caption
paragraphs
  include ../paragraphs/blockquote--content-width-without-attribution
paragraphs
  include ../paragraphs/media--small-video-with-caption
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/list--course
paragraphs
  include ../paragraphs/photo-gallery
paragraphs
  include ../paragraphs/featured-story--regular
paragraphs
  include ../paragraphs/basic-text
paragraphs
  include ../paragraphs/triptych-panels--news
paragraphs
  include ../paragraphs/triptych-panels--mix
paragraphs
  include ../paragraphs/call-to-action--with-icon
