contentType basic page
title
  +lipsum(1)
sidebar true
paragraphs
  include ../paragraphs/photo-gallery
paragraphs
  include ../paragraphs/triptych-panels--mix
paragraphs
  include ../paragraphs/basic-text
paragraphs
  include ../paragraphs/media--stripe-video-without-caption
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/featured-story--regular
paragraphs
  include ../paragraphs/media--large-image-with-caption
paragraphs
  include ../paragraphs/blockquote--content-width-with-attribution
paragraphs
  include ../paragraphs/list--text
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/basic-text
paragraphs
  include ../paragraphs/media--small-video-without-caption
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/triptych-panels--news
paragraphs
  include ../paragraphs/list--course
paragraphs
  include ../paragraphs/media--small-image-with-caption
paragraphs
  include ../paragraphs/blockquote--full-width-without-attribution
paragraphs
  include ../paragraphs/call-to-action--with-icon
paragraphs
  include ../paragraphs/featured-story--blue
paragraphs
  include ../paragraphs/media--large-video-with-caption
paragraphs
  include ../paragraphs/call-to-action--without-icon
paragraphs
  include ../paragraphs/media--stripe-video-with-caption
paragraphs
  include ../paragraphs/media--small-video-with-caption
paragraphs
  include ../paragraphs/section-break
paragraphs
  include ../paragraphs/media--large-image-without-caption
paragraphs
  include ../paragraphs/blockquote--full-width-with-attribution
paragraphs
  include ../paragraphs/media--small-image-without-caption
paragraphs
  include ../paragraphs/media--stripe-image-with-caption
paragraphs
  include ../paragraphs/list--person
paragraphs
  include ../paragraphs/blockquote--content-width-without-attribution
paragraphs
  include ../paragraphs/media--large-video-without-caption
paragraphs
  include ../paragraphs/media--stripe-image-without-caption
