contentType news
basicInfo
  title
    +lipsum()
  subtitle
    +lipsum()
  summary
    +lipsum(4)
  author
    +lipsum(2, 'words')
    
featuredMedia
  mediaType large image
  smallImage
    include ../../partials/_image
  hasCaption true
  caption
    +lipsum(2)
    
body paragraphs
    

classification
  category
    name
      +lipsum(2, 'words')
    path #
  each term in ['countries','topics']
    each val in [3,2,3,4]
      #{term}
        name
          +lipsum(val, 'words')
        path #
      
