extends ../../templates/_root
append content
  
  panels
    include ../../partials/_triptych-panel-icon
  panels
    include ../../partials/_triptych-panel-button
  panels
    include ../../partials/_triptych-panel-stat
